<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>Welcome to the HR Application</h3>

	<table border="1">
		<thead>
			<th colspan="2" style="padding: 10px;">Id</th>
			<th colspan="2" style="padding: 10px;">Job</th>
			<th colspan="2" style="padding: 10px;">Salary</th>
			<th colspan="2" style="padding: 10px;">StartTime</th>
		</thead>
		<tbody>
			<tr th:each="employee : ${employees}">
				<td colspan="2" style="padding: 10px;" th:text="${employee.id}"></td>
				<td colspan="2" style="padding: 10px;" th:text="${employee.job}"></td>
				<td colspan="2" style="padding: 10px;" th:text="${employee.salary}"></td>
				<td colspan="2" style="padding: 10px;"
					th:text="${employee.startTime}"></td>
			</tr>
		</tbody>
	</table>

	<form th:object="${newEmployee}" method="post" th:action="@{/employee}">
		<table>
			<tbody>
				<tr>
					<td colspan="2" style="padding: 10px;"><label for="id">Id:</label></td>
					<td colspan="2" style="padding: 10px;"><input id="id"
						th:field="*{id}" /></td>
				</tr>
				<tr>
					<td colspan="2" style="padding: 10px;"><label for="job">Job:</label></td>
					<td colspan="2" style="padding: 10px;"><input id="job"
						th:field="*{job}" /></td>
				</tr>
				<tr>
					<td colspan="2" style="padding: 10px;"><label for="salary">Salary:</label></td>
					<td colspan="2" style="padding: 10px;"><input id="salary"
						th:field="*{Salary}" /></td>
				</tr>
				<tr>
					<td colspan="2" style="padding: 10px;"><label for="startTime">StartTime:</label></td>
					<td colspan="2" style="padding: 10px;"><input id="startTime"
						type="datetime-local" th:field="*{startTime}" /></td>
				</tr>
			</tbody>
		</table>
		<div class="form-row">
			<input type="submit" value="Add" />
		</div>
	</form>
</body>
</html>